@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"].</h2>

<h3>My Website</h3>

<p>
    This is a personal website that I hope to use as a portfolio as well as continuing to learn new technologies and practices.
</p>

<h3>About me</h3>

<p>
    I'm an application developer who got started building little web pages when I got my first computer around age 10 or so.
    My wife Kristen, our soon to be born little baby (this week!) friends/family, learning/teaching, food, reading and movies/tv are the things that I care most about in life.
    I doubt I'll do much updating to this page, but as my previous sentence stated, we're expecting to really start our new family this week! :)
</p>

<p>
    Started out as a ColdFusion developer at Peregrin Services, and have expanded to mostly concentrate on full stack .net development.
    I have my SQL Server Development certification, and though I am "full stack" most of my experience is with server side c# and sql server.
    Any front end experience I have is mostly in web-forms.
</p>

<p>
    Lately I've been trying to take PluralSight courses and play around with front-end frameworks like knockout and angular, as I feel like front end and javascript in general are weak areas of mine.
    This site is being built with the new .net core (RC2), and ideally I'll be able to do a few small applications built in a multitude of technologies to start to get a feel for the big world that is front-end development.
</p>