@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>

<p>
    Name: Russ Hammett
    <br />
    LinkedIn: <a href="http://www.linkedin.com/in/kritner" target="_blank">Kritner</a><br />
    Twitter: <a href="https://www.twitter.com/RLHammett" target="_blank">@@RLHammett</a><br />
    Twitch: <a href="http://www.twitch.tv/rhammett" target="_blank">RHammett</a><br />
    YouTube: <a href="http://www.youtube.com/RHam1985" target="_blank">RHam1985</a><br />
</p>
