@{
    ViewData["Title"] = "Home Page";
}

<h2>@ViewData["Title"].</h2>

<div>
    <p>
        This is my personal site.
    </p>
    <p>
        I'll use this site as a test area to work on honing my programming skills.
        I've not had much opportunity to work on front end and MVC,
        so that's where I will get started!
    </p>
    <p>
        Seems I got .netcore successfully hosted yay!  SSL and DB too yay!
    </p>

</div>