<div class="container">
  <form *ngIf="!isExpandedForm" (ngSubmit)="onSubmit()" #projectionForm="ngForm">
    <div class="form-group">
      <label for="yearsToProject">Years to project</label>
      <input type="number" class="form-control" 
      id="yearsToProject" name="yearsToProject"
        required [(ngModel)]="model.yearsToProject" />
    </div>

    <div class="form-group">
      <label for="solarArrayKwhYear">Utility/Solar Array kw/year</label>
      <input type="number" class="form-control" 
        id="solarArrayKwhYear" name="solarArrayKwhYear"  
        required [(ngModel)]="model.solarArrayKwhYear" />
    </div>

    <div class="form-group">
      <label for="solarCostPerMonth">Solar Array cost/month</label>
      <input type="number" class="form-control" 
        id="solarCostPerMonth" name="solarCostPerMonth" 
        required [(ngModel)]="model.solarCostPerMonth" />
    </div>

    <div class="form-group">
      <label for="solarFinanceYears">Solar Finance Years</label>
      <input type="number" class="form-control" 
        id="solarFinanceYears" name="solarFinanceYears" 
        required [(ngModel)]="model.solarFinanceYears" />
    </div>

    <div class="form-group">
      <label for="utilityCostFullYear">Utility Cost Full Year</label>
      <input type="number" class="form-control" 
        id="utilityCostFullYear" name="utilityCostFullYear" 
        required [(ngModel)]="model.utilityCostFullYear" />
    </div>

    <div class="form-group">
      <label for="utilityPercentIncreasePerYear">Utility Cost % Increase/year</label>
      <input type="number" class="form-control" 
        id="utilityPercentIncreasePerYear" name="utilityPercentIncreasePerYear"  
        required [(ngModel)]="model.utilityPercentIncreasePerYear" />
    </div>

    <button type="submit" class="btn btn-success"
      [disabled]="!projectionForm.form.valid">
      Submit
    </button>
  </form>

  <button type="button" class="btn" (click)="toggle()">
      Projection Criteria 
      <span class="glyphicon" [ngClass]="{
        'glyphicon-chevron-down': isExpandedForm,
        'glyphicon-chevron-up': !isExpandedForm
      }"></span>
    </button>
</div>