@{
    ViewData["Title"] = "Baby Tracking (Knockout)";
}

<div>
    <p>
        I just had a baby! :O
    </p>
    <p>
        Aaron Michael Hammett was born June 24, 2016.  There's already baby tracking stuff out there, but I need practice!  So I'll be attempting to put something together to track Aaron's feedings and the like in this section.
    </p>
    <div id="applicationHost"></div>
</div>

@section scripts {
    <script type="text/javascript" src="~/lib/knockout.js/knockout.js"></script>

    <script type="text/javascript" 
            src="~/lib/requirejs/require.js" 
            data-main="/durandal/babyTesting/_main"></script>
}