@{
    ViewData["Title"] = "Baby Tracking";
}

<div>
    <p>
        I just had a baby! :O
    </p>
    <p>
        Aaron Michael Hammett was born June 24, 2016.  There's already baby tracking stuff out there, but I need practice!  So I'll be attempting to put something together to track Aaron's feedings and the like in this section.
    </p>
</div>