@{
    ViewData["Title"] = "Testing Home";
}

<div>
    <p>
        I'll be putting some playing around projects around this area... maybe.
    </p>

    <ul>
        <li><a asp-controller="Testing" asp-action="BabyTrackingAngular">Baby Tracking - Angular (todo)</a></li>
        <li><a asp-controller="Testing" asp-action="BabyTrackingKnockout">Baby Tracking - Knockout (todo)</a></li>
    </ul>
</div>