@{
    ViewData["Title"] = "Testing Home";
}

<h2>@ViewData["Title"].</h2>

<div>
    <h3>Personal projects/testing</h3>
    <p>
        I'll be putting some playing around projects around this area... maybe.
    </p>

    <ul>
        <li><a asp-controller="Testing" asp-action="BabyTrackingAngular">Baby Tracking - Angular (todo)</a></li>
    </ul>

    <h3>PluralSight test area</h3>
    <ul>
        <li>Nothing yet</li>
    </ul>
</div>