@{
    ViewData["Title"] = "Testing Home";
}

<div>
    <p>
        I'll be putting some playing around projects around this area... maybe.
    </p>

    <ul>
        <li><a asp-controller="Testing" asp-action="BabyTracking">Baby Tracking</a></li>
    </ul>
</div>