@{
    ViewData["Title"] = "PluralSight - Durandal Get Started";
}

<div id="applicationHost"></div>

@section scripts {
    <script type="text/javascript" src="~/lib/knockout.js/knockout.js"></script>

    <script type="text/javascript"
            src="~/lib/requirejs/require.js"
            data-main="/durandal/pluralSightDurandalGetStarted/_main"></script>
}