<h1>Solar Projection</h1>

<p *ngIf="!solarProjection"><em>Loading...</em></p>

<table class='table' *ngIf="solarProjection">
  <thead>
    <tr>
      <th>Year</th>
      <th>Total Cost</th>
      <th>Total Kw/h</th>
      <th>Avg. Cost/month (Utility)</th>
      <th>Avg. Cost/Kw/h (Utility)</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let projection of solarProjection.futureProjection">
      <td>{{ projection.purchaseYear }}</td>
      <td>{{ projection.totalCost }}</td>
      <td>{{ projection.totalKiloWattHours }}</td>
      <td>{{ projection.averageCostPerMonth }}</td>
      <td>{{ projection.averageCostKiloWattHour }}</td>
    </tr>
  </tbody>
</table>
