<h1>Solar Projection</h1>

<div class="container">
  <!-- form inputs solar projection-->
  <div>
    <form *ngIf="!isExpandedForm" (ngSubmit)="onSubmit()" #projectionForm="ngForm">
      <div class="form-group">
        <label for="yearsToProject">Years to project</label>
        <input type="number" class="form-control" id="yearsToProject" name="yearsToProject" required [(ngModel)]="model.yearsToProject"
        />
      </div>

      <div class="form-group">
        <label for="utilitySolarArrayKwhYear">Utility/Solar Array kw/year</label>
        <input type="number" class="form-control" id="utilitySolarArrayKwhYear" name="utilitySolarArrayKwhYear" required [(ngModel)]="model.utilitySolarArrayKwhYear"
        />
      </div>

      <div class="form-group">
        <label for="solarCostPerMonth">Solar Array cost/month</label>
        <input type="number" class="form-control" id="solarCostPerMonth" name="solarCostPerMonth" required [(ngModel)]="model.solarCostPerMonth"
        />
      </div>

      <div class="form-group">
        <label for="solarFinanceYears">Solar Finance Years</label>
        <input type="number" class="form-control" id="solarFinanceYears" name="solarFinanceYears" required [(ngModel)]="model.solarFinanceYears"
        />
      </div>

      <div class="form-group">
        <label for="utilityCostFullYear">Utility Cost Full Year</label>
        <input type="number" class="form-control" id="utilityCostFullYear" name="utilityCostFullYear" required [(ngModel)]="model.utilityCostFullYear"
        />
      </div>

      <div class="form-group">
        <label for="utilityPercentIncreasePerYear">Utility Cost % Increase/year</label>
        <input type="number" class="form-control" id="utilityPercentIncreasePerYear" name="utilityPercentIncreasePerYear" required
          [(ngModel)]="model.utilityPercentIncreasePerYear" />
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!projectionForm.form.valid">
        Submit
      </button>
    </form>

    <button type="button" class="btn" (click)="toggleFormInput()">
      Projection Criteria
      <span class="glyphicon" [ngClass]="{
            'glyphicon-chevron-down': isExpandedForm,
            'glyphicon-chevron-up': !isExpandedForm
          }"></span>
    </button>
  </div>

  <!-- Solar projection-->
  <div>
    <p *ngIf="!solarProjection"><em>Loading...</em></p>

    <div *ngIf="solarProjection">

      <h4>Solar Estimate (Guaranteed for 90% of total Kw/year Production)</h4>

      <ul>
        <li>Solar Cost/year: {{ solarProjection.solarEstimate.totalCost | currency }}</li>
        <li>Solar Cost/month: {{ solarProjection.solarEstimate.averageCostPerMonth | currency }}</li>
        <li>Total Kw/h/year: {{ solarProjection.solarEstimate.totalKiloWattHours | number }}</li>
        <li>Solar Cost kw/h {{ solarProjection.solarEstimate.averageCostKiloWattHour | currency }}</li>
        <li>Total Years Financed: {{ solarProjection.financeYears }} </li>
      </ul>

      <table class='table'>
        <thead>
          <tr>
            <th>Year</th>
            <th>
              Total Cost Utility
              <span title="Total Utility Cost for the year, given a compounding cost per kw/h increase per year." 
                class="glyphicon glyphicon-info-sign"></span>
            </th>
            <th>
              Cost/month Utility
              <span title="Cost per month for utilities, given a compounding cost per kw/h increase per year. This number represents a projected cost if there was 0% solar generation." 
                class="glyphicon glyphicon-info-sign"></span>
            </th>
            <th>
              Cost/year 100% gen. 
              <span title="Utility Cost + Solar power financing cost given 100% solar power, 0% utility power." 
                class="glyphicon glyphicon-info-sign"></span>
            </th>
            <th>
              Saving/year 100% gen.
              <span title="Solar power Gen Cost - Utility cost given 100% solar power, 0% utility power." 
                class="glyphicon glyphicon-info-sign"></span>
            </th>
            <th>
              Cost/year 90% gen.
              <span title="Utility Cost + Solar power financing cost given 90% solar power, 10% utility power." 
                class="glyphicon glyphicon-info-sign"></span>
            </th>
            <th>
              Savings/year 90% gen.
              <span title="Solar power Gen Cost - Utility cost given 90% solar power, 10% utility power." 
                class="glyphicon glyphicon-info-sign"></span>
            </th>
            <th>
              Cost/year 80% gen.
              <span title="Utility Cost + Solar power financing cost given 80% solar power, 20% utility power." 
                class="glyphicon glyphicon-info-sign"></span>
            </th>
            <th>
              Savings/year 80% gen.
              <span title="Solar power Gen Cost - Utility cost given 80% solar power, 20% utility power." 
                class="glyphicon glyphicon-info-sign"></span>
            </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let projection of solarProjection.futureProjection">
            <td>{{ projection.purchaseYear | indexOffset }}</td>
            <td>{{ projection.totalCost | currency }}</td>
            <td>{{ projection.averageCostPerMonth | currency }}</td>
            <td>{{ projection.costSolar100Percent | currency }}</td>
            <td [ngClass]="{
          positive: inTheGreen(projection.totalSavings100Percent),
          negative: !inTheGreen(projection.totalSavings100Percent)
        }">{{ projection.totalSavings100Percent | currency }}</td>
            <td>{{ projection.costSolar90Percent | currency }}</td>
            <td [ngClass]="{
          positive: inTheGreen(projection.totalSavings90Percent),
          negative: !inTheGreen(projection.totalSavings90Percent)
        }">{{ projection.totalSavings90Percent | currency }}</td>
            <td>{{ projection.costSolar80Percent | currency }}</td>
            <td [ngClass]="{
          positive: inTheGreen(projection.totalSavings80Percent),
          negative: !inTheGreen(projection.totalSavings80Percent)
        }">{{ projection.totalSavings80Percent | currency }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>